atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.0
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
flake8==3.6.0
idna==2.8
lxml==4.2.6
mccabe==0.6.1
more-itertools==5.0.0
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.0.2
requests==2.21.0
responses==0.10.5
six==1.12.0
slug==2.0
soupsieve==1.6.1
tqdm==4.28.1
urllib3==1.24.1
